body {
  overflow-x: hidden; }

.main-head {
  background-image: url(../img/main-head.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh; }

.responsive-img {
  width: 100%;
  position: relative;
  padding: 13vh 0; }

.mnu-line {
  margin-top: 10px;
  color: white; }

.mnu-adr {
  font-weight: 600; }

.main-mnu {
  text-align: center;
  display: inline-block; }

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

nav li {
  display: inline-block;
  padding-right: 15%;
  padding-left: 15%; }

a {
  color: white;
  font-weight: 100;
  font-size: 2em; }

.dir {
  width: 100%;
  box-shadow: 5 5 5 5; }

.dirtxt {
  color: white;
  font-size: 1.5em;
  padding: 10px 0; }

h1 {
  font-size: 3em;
  color: white;
  font-weight: 600; }

.about {
  color: white;
  font-size: 1.5em; }
