body {
  overflow-x: hidden;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.main-head {
  background-image: url(../img/main-head.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh; }

.responsive-img {
  width: 100%;
  position: relative;
  padding: 13vh 0; }

.mnu-line {
  margin-top: 10px;
  color: white; }

.mnu-adr {
  font-weight: 600; }

.main-mnu {
  text-align: center;
  display: inline-block; }

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

nav li {
  display: inline-block;
  padding-right: 3%;
  padding-left: 3%; }

a {
  color: white;
  font-weight: 600;
  font-size: 1.0em; }

.dir {
  width: 100%;
  margin-top: 15vh;
  border: solid 10px white; }

.dirtxt {
  color: white;
  font-size: 1.5em;
  padding: 10px 0; }

h1 {
  font-size: 3em;
  color: white;
  font-weight: 600; }

.about {
  color: white;
  font-size: 1.5em; }

.abo {
  background-image: url(../img/abo.jpg);
  background-size: cover;
  background-position: center;
  min-height: 75vh; }

.abus {
  padding-top: 15vh; }

.thesis {
  margin-top: 25px;
  color: white;
  font-weight: 600;
  text-align: center;
  font-size: 1.5em; }

.portf {
  background-image: url(../img/portf.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  overflow: scroll; }

.obj {
  margin: 10vw;
  font-size: 10vh;
  color: white;
  text-shadow: 0px 22px 100px black; }

.contacts {
  position: absolute;
  margin: 20vh;
  z-index: 1;
  background-color: blue;
  color: white;
  text-align: center;
  box-shadow: 0px 22px 100px black;
  padding: 25px; }

.cli {
  background-image: url(../img/cli.jpg);
  background-size: cover;
  background-position: center;
  min-height: 60vh; }

.client {
  width: 15vw;
  padding: 10px; }

h2 {
  color: white;
  font-weight: 600;
  font-size: 1.5em; }

.jobs {
  background-color: white;
  text-align: center; }

.job {
  margin-top: 50px;
  margin-bottom: 50px; }

.jop {
  color: black;
  padding-bottom: 50px; }

.roller {
  background-image: url(../img/rol.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin-top: 5vh;
}
.roller-photos {
  width: 100%;
  margin-bottom: 5vh;
}
.polu {
  height: 230px;
}
.woe {
  margin-top: 50px;
}
