.main-head
    background-image: url(../img/main-head.jpg)
    background-size: cover
    background-position: center
    min-height: 100vh
    
.responsive-img
    width: 100%
    position: relative
    padding: 15vh 0
    
.reconstruction
    text-align: center
    font-family: Roboto
    font-weight: 400
    font-size: 2.5vh
    color: white
    
.icon
    width: 100px
    padding: 5vh 0